* {
    box-sizing: border-box
}

body {
    background-color: #e1ca96;
    margin: 0px;
}

header {
    background-color: #8b786d;
    color: #d2d0ba;
    text-align: center;
    padding: 20px;
    margin: 0px;
}

nav {
    background-color: #8b786d;
    font-family: arial;
    text-align: center;
}

nav a {
    color: #d2d0ba;
    padding: 14px 16px;
    display: inline-block;
}

nav a:hover {
    background-color: #bfa89e;
    color: white;
}

main {
    padding: 30px;
}

article {
    padding: 20px;
}

.card1 {
    display: flex;
    background-color: white;
    align-items: center;
    padding: 20px;
    margin: 20px 10px;
    border-radius: 15px;
}

.big {
    float: left;
    float: 8%;
    padding-left: 8%;
    width: 40%;
    height: 40%;
    border-radius: 20px;
    object-fit: cover;
}

.text {
    float: right;
    float: 20%;
    padding-right: 150px;
    padding-top: 6%;
    font-size: 35px;
    line-height: 1.5;
    color: #283044;
    font-weight: bolder;
    font-family: "Microsoft JhengHei", "微軟正黑體", "新細明體", "華康黑體", sans-serif;
}

.title {
    text-align: center;
    float: center;
    background-color: #626c66;
    color: #d2d0ba;
    padding: 20px;
    margin: 20px 10px;
    border-radius: 15px;
    background-size: 150%;
}

.card2 {
    display: flex;
    background-color: white;
    align-items: center;
    padding: 20px;
    margin: 20px 10px;
    border-radius: 15px;
    background-size: cover;
}

.mid {
    float: left;
    float: 6%;
    padding-left: 3%;
    padding-top: 3%;
    width: 50%;
    height: 40%;
    border-radius: 20px;
    object-fit: cover;
}

.text2 {
    float: right;
    float: 10%;
    padding-left: 20px;
    padding-right: 5%;
    padding-top: 5%;
    width: 40%;
    word-wrap: break-word;
    font-size: 32px;
    line-height: 1.5;
    color: #283044;
    font-weight: bolder;
    font-family: "Microsoft JhengHei", "微軟正黑體", "新細明體", "華康黑體", sans-serif;
}

.text3 {
    float: right;
    float: 10%;
    padding-left: 10px;
    padding-right: 80px;
    padding-top: 5%;
    width: 45%;
    word-wrap: break-word;
    font-size: 32px;
    line-height: 1.5;
    color: #283044;
    font-weight: bolder;
    font-family: "Microsoft JhengHei", "微軟正黑體", "新細明體", "華康黑體", sans-serif;
}

h3 {
    text-align: center;
    float: left;
    background-color: #626c66;
    color: #d2d0ba;
    padding: 20px;
    margin: 20px 10px;
    border-radius: 15px;
    background-size: 150%;
}

.clearfix {
    clear: both;
}

footer {
    background-color: #8b786d;
    color: #d2d0ba;
    text-align: center;
    padding: 10px;
}

.call {
    display: flex;
    background-color: white;
    margin: 20px 30px;
    border-radius: 15px;
    background-size: cover;
}

.title1 {
    text-align: center;
    float: center;
    background-color: #626c66;
    color: #d2d0ba;
    padding: 20px;
    margin: 20px 20px;
    border-radius: 15px;
}

.pattern {
    float: right;
    width: 100%;
    margin-bottom: 10%;
    padding-top: 5%;
    padding-left: 80%;
}

.information {
    float: left;
    margin-top: -125px;
    padding-left: 150%;
    color: #283044;
    font-weight: bolder;
    font-size: 24px;
}