* {
    box-sizing: border-box
}

body {
    background-color: #e1ca96;
    margin: 0px;
}

header {
    background-color: #8b786d;
    color: #d2d0ba;
    text-align: center;
    padding: 20px;
    margin: 0px;
}

nav {
    background-color: #8b786d;
    font-family: arial;
    text-align: center;
}

nav a {
    color: #d2d0ba;
    padding: 14px 16px;
    display: inline-block;
}

nav a:hover {
    background-color: #bfa89e;
    color: white;
}

.card {
    align-items: center;
    background-color: white;
    padding: 20px;
    margin: 20px 10px;
    border-radius: 15px;
    background-size: cover;
}

.card2 {
    background-color: #626c66;
    color: #d2d0ba;
    padding: 20px;
    margin: 20px 10px;
    border-radius: 15px;
}

.mainphoto {
    float: left;
    width: 300px;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    object-fit: cover;
}

.photo {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center center;
}

main {
    padding: 20px;
}

article {
    float: left;
}

h3 {
    padding: 20px;
}

.text {
    font-family: 標楷體;
}

.clearfix {
    clear: both;
}

footer {
    background-color: #8b786d;
    color: #d2d0ba;
    text-align: center;
    padding: 10px;
}

@media screen and (max-width:800px) {

    article,
    aside {
        float: none;
        width: 100%;
    }

    .card {
        padding: 10px;
        margin: 15px 0px;
    }

    img {
        max-width: 100%;
        height: 90%;
    }
}